<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class="menuContent blackItem">
      <ion-list class="menuList">
        <ion-item menu-close href="#/app/user" class="blackItem">
          <span>Account</span>
        </ion-item>
        <ion-item menu-close href="#/app/database" class="blackItem">
          <i class="ion-ios-analytics"></i>
          <span>Transport Database</span>
        </ion-item>
        <ion-item menu-close href="#/app/search" class="blackItem">
          <i class="ion-android-search"></i>
          <span>Search</span>
        </ion-item>
        <ion-item menu-close href="#/app/map" class="blackItem">
          <i class="ion-map"></i>
          <span>Transport Map</span>
        </ion-item>
        <ion-item menu-close href="#/app/personalVehicle" class="blackItem">
          <i class="ion-android-car"></i>
          <span>Personal Vehicle</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
